.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background: #E0F6FF;
    padding: 5px;
    justify-items: center;
}

.grid-item {
    background-color: #1E96FF;
    padding: 15px;
    text-align: center;
    color: #FFF;
}
