.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 120px;
    background-color: #E0F6FF;
    border: 1px dashed #1E96FF;
}

.grid-item {
    background-color: #1E96FF;
    color: #FFFFFF;
    text-align: center;
    margin: 2px;
}