.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.item-4 {
    grid-area: item4;
}

.grid-container {
    display: grid;
    background-color: #E0F6FF;
    border: 1px dashed #1E96FF;
    grid-gap: 2px;
    grid-template-areas: 
        "item1 item2"
        "item3 item4";
}

.grid-item {
    background-color: #1E96FF;
    color: #FFF;
    text-align: center;
    padding: 10px;
    margin: 2px;
}
